* {
    box-sizing: border-box ;
}

.box{
    display: inline;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background: burlywood;
    padding: 10px;
    border: 6px solid darkred;
    border-radius: 5px;
    margin: 10px;
/*     padding-top: 16px;
    padding-right: 42px;
    padding-bottom: 16px;
    padding-left: 42px; */

   /*  padding: 16px 42px 16px 42px;
    margin-left: auto;
    margin-right: auto; */
}

.box:last-child,
.box:nth-child(3) {
    background-color: gold;
}

/*замалювати за правилом  3, 4, 5, ... ,j n=0
.box:nth-child(n+3) {
   
    background-color: gold;
}
*/